{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% if pool %}
<meta property="og:url" content="https://опрослегко.рф{% url 'pool_view' uuid=pool.uuid %}"/>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="ОпросЛегко.рф"/>
<meta property="og:title" content="{{ pool.user.first_name }} приглашает Вас пройти опрос: {{ pool.title }}"/>
<meta property="og:description" content="Проводите опросы легко на ОпросЛегко.рф"/>
<meta property="og:image" content="https://опрослегко.рф{% static 'img/logo0.png' %}"/>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    {% if pool %}
    <div class="col-sm-12 text-pool">{{ pool.title }}</div>
    <ul class="list-group col-sm-12">
        {% for question in pool.question_set.all %}
        {% if not question.deleted %}
        <li class="list-group-item">
            <div class="text-question">{{ question.title }}</div>
            <ul class="list-group">
                {% for answer in question.answer_set.all %}
                {% if not answer.deleted %}
                <li class="list-group-item">
                    <label class="form-check-label">
                        {{ answer.title }}
                        {% if answer.link %}
                        <span class="text-small">
                            <a href="{{ answer.link }}" target="_blank" title="{{ answer.link }}">[ссылка]</a>
                        </span>
                        {% endif %}
                    </label>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped"
                             role="progressbar" style="width: {{ answer.ua_persent }}%" aria-valuenow="{{ answer.ua_persent }}"
                             aria-valuemin="0" aria-valuemax="100"
                        >{{ answer.ua_persent }}% [{{ answer.ua_count }} из {{ question.total_count }}]</div>
                    </div>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% if pool.comments %}
        <div id="disqus_thread" class="col-md-12"></div>
        <script>
        var disqus_config = function () {
        this.page.url = 'https://опрослегко.рф{% url 'pool_info' uuid=pool.uuid %}';  // Replace PAGE_URL with your page's canonical URL variable
        //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://oproslegko-rf.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
    {% else %}
    <div class="col-sm-12">Опрос не найден или автор его удалил.</div>
    {% endif %}
</div>
{% endblock %}