{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <script src="{% static 'vue/vue.min.js' %}"></script>
    <div class="col-sm-12">
        {% verbatim %}
        <div id="app">
            <form>
                <div class="form-group">
                    <label for="pool_title">Наименование опроса</label>
                    <input type="text" class="form-control" v-model="pool.title" id="pool_title">
                </div>
                <div class="form-group">
                    <a href="#" v-on:click.prevent="pool_adv=!pool_adv;">Дополнительные параметры</a>
                </div>
                <div v-show="pool_adv">
                    <div class="form-group">
                        <label for="pool_password">Пароль для доступа к опросу</label>
                        <input type="text" class="form-control" v-model="pool.password" id="pool_password">
                        <small class="form-text text-muted">Если оставить пустым, то пароль не будет запрашиваться и
                            доступ будет для всех.</small>
                    </div>
                    <div class="form-group">
                        <label for="pool_limit">Ограничение на количество опрошенных</label>
                        <input type="text" class="form-control" v-model="pool.limit" id="pool_limit">
                        <small class="form-text text-muted">Если указать 0, то не будет ограничения на количество
                            опрашиваемых.</small>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="pool_comments" v-model="pool.comments">
                        <label class="form-check-label" for="pool_comments">Разрешить комментраии.</label>
                    </div>
                </div>
                <div class="form-group">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="question in pool.questions" v-bind:key="question.uuid">
                            <div class="form-group">
                                <div v-if="question.deleted">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Вопрос:</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Вопрос..."
                                               aria-label="Вопрос..." v-model="question.title"
                                               style="text-decoration: line-through;" readonly="readonly">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success" type="button"
                                                    v-on:click="question.deleted=false;">Восстановить
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div v-else>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Вопрос:</span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Введите вопрос..."
                                               aria-label="Введите вопрос..." v-model="question.title">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-danger" type="button"
                                                    v-on:click="question.deleted=true;">Удалить
                                            </button>
                                        </div>
                                    </div>

                                    <ul class="list-group">
                                        <li class="list-group-item" v-for="answer in question.answers"
                                            v-bind:key="answer.uuid">
                                            <div class="form-group">
                                                <div v-if="answer.deleted">
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Ответ:</span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               placeholder="Введите вариант выбора..."
                                                               aria-label="Введите вариант выбора..."
                                                               v-model="answer.title"
                                                               style="text-decoration: line-through;"
                                                               readonly="readonly">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-success" type="button"
                                                                    v-on:click="answer.deleted=false;">Восстановить
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div v-else>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Ответ:</span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               placeholder="Введите вариант выбора..."
                                                               aria-label="Введите вариант выбора..."
                                                               v-model="answer.title">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary" type="button"
                                                                    v-on:click="answer.show_link=true;"
                                                                    v-if="!answer.show_link">
                                                                Добавить ссылку
                                                            </button>
                                                            <button class="btn btn-outline-danger" type="button"
                                                                    v-on:click="answer.deleted=true;">Удалить
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3" v-if="answer.show_link">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">Ссылка:</span>
                                                        </div>
                                                        <input type="text" class="form-control"
                                                               placeholder="Введите адрес ссылки..."
                                                               aria-label="Введите адрес ссылки..."
                                                               v-model="answer.link"
                                                        >
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <button class="btn btn-secondary"
                                                    v-on:click.prevent="question.answers.push(Object.assign({}, answer))">
                                                Добавить вариант ответа
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-secondary"
                                    v-on:click.prevent="pool.questions.push(Object.assign({}, question))">Добавить
                                вопрос
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="form-group form-actions">
                    <button class="btn btn-primary" v-bind:disabled="!saveEnabled" v-on:click.prevent="savePoll">Сохранить</button>
                </div>
            </form>
        </div>
        {% endverbatim %}
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            methods: {
                savePoll() {
                    this.saveEnabled = false;
                    $.ajax({
                        type: 'POST',
                        url: '{% if pool %}{% url 'pool_edit' uuid=pool.uuid %}{% else %}{% url 'pool_edit' uuid=0 %}{% endif %}',
                        data: {'pool': this.pool},
                        dataType: 'json',
                        success: function (response) {
                            console.log(response);
                        },
                        error: function(response) {
                            console.log(response);
                        }
                    });
                    this.saveEnabled = true;
                },
            },
            data: {
                saveEnabled: true,
                pool_adv: false,
                answer: {
                    uuid: '',
                    title: '',
                    link: '',
                    show_link: false,
                    deleted: false
                },
                question: {
                    uuid: '',
                    title: '',
                    order: 0,
                    deleted: false,
                    answers: [
                        {
                            uuid: '',
                            title: '',
                            link: '',
                            show_link: false,
                            deleted: false
                        },
                        {
                            uuid: '',
                            title: '',
                            link: '',
                            show_link: false,
                            deleted: false
                        },
                    ]
                },
        {% if pool %}
        pool: {
            uuid: '{{ pool.uuid }}',
                title: '{{ pool.title }}',
                password: '{{ pool.password }}',
                limit: {{ pool.limit }},
            comments: {% if pool.comments %}true{% else %}false{% endif %},
            questions: [
                {% for question in pool.question_set.all %}
            {
                uuid: '{{ question.uuid }}',
                title: '{{ question.title }}',
                order: {{ question.order }},
                deleted: {% if question.deleted %}true{% else %}false{% endif %},
                answers: [
                    {% for answer in question.answer_set.all %}
                {
                    uuid: '{{ answer.uuid }}',
                    title: '{{ answer.title }}',
                    link: '{{ answer.link }}',
                    show_link: {% if answer.link %}true{% else %}false{% endif %},
                    deleted:  {% if answer.deleted %}true{% else %}false{% endif %},
                },
                {% endfor %}
            ]
            },
            {% endfor %}
        ]
        }
        {% else %}
        pool: {
            uuid: '',
            title:'',
            password: '',
            limit: 0,
            comments: true,
            questions:
            [
                {
                    uuid: '',
                    title: '',
                    order: 0,
                    deleted: false,
                    answers: [
                        {
                            uuid: '',
                            title: '',
                            link: '',
                            show_link: false,
                            deleted: false
                        },
                        {
                            uuid: '',
                            title: '',
                            link: '',
                            show_link: false,
                            deleted: false
                        },
                    ]
                },
            ]
        }
        {% endif %}
        }
        })
    </script>
</div>
{% endblock %}