{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <script src="{% static 'vue/vue.min.js' %}"></script>
    <div class="col-sm-12">
        {% verbatim %}
        <div id="app">
            <input v-model="message">
            <p>{{ message }}</p>
        </div>
        {% endverbatim %}
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
</div>
{% endblock %}