{% extends "base.html" %}
{% load static %}

{% block extra_head %}
{% if pool %}
<meta property="og:url" content="https://опрослегко.рф{% url 'pool_view' uuid=pool.uuid %}"/>
<meta property="og:type" content="article"/>
<meta property="og:site_name" content="ОпросЛегко.рф"/>
<meta property="og:title" content="{{ pool.user.first_name }} приглашает Вас пройти опрос: {{ pool.title }}"/>
<meta property="og:description" content="Проводите опросы легко на ОпросЛегко.рф"/>
<meta property="og:image" content="https://опрослегко.рф{% static 'img/logo0.png' %}"/>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    {% if pool %}
    <div class="col-sm-12 text-great">{{ pool.user.first_name }} приглашает Вас пройти опрос</div>
    <div class="col-sm-12 text-pool">{{ pool.title }}</div>
    <ul class="list-group col-sm-12">
        {% for question in pool.question_set.all %}
        {% if not question.deleted %}
        <li class="list-group-item">
            <div class="text-question">{{ question.title }}</div>
            <ul class="list-group">
                {% for answer in question.answer_set.all %}
                {% if not answer.deleted %}
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{ question.uuid }}"
                               id="radio-{{ answer.uuid }}" value="{{ answer.uuid }}"
                                {% for u in ua %}
                                    {% ifequal u.question.uuid question.uuid %}
                                        {% ifequal u.answer.uuid answer.uuid %}
                                            checked="checked"
                                        {% endifequal %}
                                    {% endifequal %}
                                {% endfor %}
                        >
                        <label class="form-check-label" for="radio-{{ answer.uuid }}">
                            {{ answer.title }}
                            {% if answer.link %}
                            <span class="text-small">
                                <a href="{{ answer.link }}" target="_blank" title="{{ answer.link }}">[ссылка]</a>
                            </span>
                            {% endif %}
                        </label>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
        <li class="list-group-item">
            <button class="btn btn-primary" onclick="checkForm()" id="btnSave">
                <span class="spinner-border spinner-border-sm" id="btnSaveSpin"
                      role="status" aria-hidden="true" style="display: none;"
                ></span>
                Сохранить
            </button>
            <span class="alert alert-danger" role="alert" style="display: none;" id="alertForm">
                Вы не ответили на все вопросы!
            </span>
        </li>
    </ul>

    {% if pool.comments %}
        <div id="disqus_thread" class="col-md-12"></div>
        <script>
        var disqus_config = function () {
        this.page.url = 'https://опрослегко.рф{% url 'pool_info' uuid=pool.uuid %}';  // Replace PAGE_URL with your page's canonical URL variable
        //this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://oproslegko-rf.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}


    <script>
        function checkForm() {
            q = {};
            a = {};
            ok = false;
            {% for question in pool.question_set.all %}
                {% if not question.deleted %}
                    q['{{ question.uuid }}'] = false;
                    {% for answer in question.answer_set.all %}
                        {% if not answer.deleted %}
                            if ($('#radio-{{ answer.uuid}}').prop("checked")) {
                                q['{{ question.uuid }}'] = true;
                                a['{{ question.uuid }}'] = '{{ answer.uuid}}';
                            }
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            ok = true{% for question in pool.question_set.all %}{% if not question.deleted %} & q['{{ question.uuid }}']{% endif %}{% endfor %};
            if (!ok) {
                $('#alertForm').show();
            } else {
                $('#alertForm').hide();
                $('#btnSave').prop('disabled', 'disabled');
                $('#btnSaveSpin').show();
                $.ajax({
                    type: 'POST',
                    url: '{% if pool %}{% url 'pool_view' uuid=pool.uuid %}{% endif %}',
                    data: {'answer': JSON.stringify(a)},
                    dataType: "json",
                    success: function (response) {
                        location.href = '{% url 'pool_stat' uuid=pool.uuid %}';
                    },
                    error: function(response) {
                        console.log(response);
                    }
                });
            }
            console.log(a)
            return false;

        }
    </script>

    {% else %}
    <div class="col-sm-12">Опрос не найден или автор его удалил.</div>
    {% endif %}
</div>
{% endblock %}