{% extends "base.html" %}
{% load static %}

{% block content %}
<script src="{% static 'clipboard/clipboard.min.js' %}"></script>
<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="https://yastatic.net/share2/share.js"></script>
<div class="row">
    <div class="col-sm-12">
        <div class="form-inline">
            <div class="form-group mr-2">
                <a href="{% url 'pool_edit' uuid=0 %}" class="btn btn-warning form-control">Создать новый опрос</a>
            </div>
            <form method="POST" action="" id="from-change-name" style="display: none;">
                {% csrf_token %}
                <div class="form-group mr-2">
                    <div class="input-group">
                        <input type="text" name="username" class="form-control" placeholder="Ваше имя"
                               aria-label="Ваше имя" aria-describedby="button-name-save"
                               value="{% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}"
                        >
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="button-name-save">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group mr-2" id="btn-change-name">
                <button onclick="$('#from-change-name').show(); $('#btn-change-name').hide();"
                        class="btn btn-primary form-control">Изменить ваше имя
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-4">
        {% if not pools %}
        Нет сохраненных опросов.
        {% else %}
        <ul class="list-group list-group-hover">
            {% for pool in pools %}
            <li class="list-group-item">
                {{ pool.title }}<br>
                <span class="text-small">Опрос создан: {{ pool.date_created }}, Опрошено: 0</span><br><br>
                <div class="btn-toolbar" role="toolbar">
                    <a href="{% url 'pool_edit' uuid=pool.uuid %}"
                       class="btn btn-secondary mr-1 mb-1">Редактировать</a>
                    <a href="{% url 'pool_view' uuid=pool.uuid %}" class="btn btn-secondary mr-1 mb-1">Просмотр</a>
                    <div class="input-group mr-1 mb-1">
                        <input type="text" class="form-control"
                               value="https://опрослегко.рф{% url 'pool_view' uuid=pool.uuid %}">
                        <div class="input-group-append">
                            <button class="btn btn-secondary btn-clipboard"
                                    data-clipboard-text="https://опрослегко.рф{% url 'pool_view' uuid=pool.uuid %}"
                                    title="Скопировать в буфер обмена"
                            >
                                <i class="far fa-clipboard"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: auto;margin-bottom: auto;">
                        <div
                                class="ya-share2"
                                data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,linkedin,viber,whatsapp,telegram"
                                data-title="{{ pool.user.first_name }} приглашает Вас пройти опрос: {{ pool.title }}"
                                data-description="Проводите опросы легко на ОпросЛегко.рф"
                                data-url="https://опрослегко.рф{% url 'pool_view' uuid=pool.uuid %}"
                                data-hashtags="#опрос, #опрослегко, #pool, #опросслегкорф"
                                data-image="https://опрослегко.рф{% static 'img/logo0.png' %}"
                                data-size="m"
                        ></div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<script>
    new ClipboardJS('.btn-clipboard');
</script>
{% endblock %}
