{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="form-inline">
            <div class="form-group mr-2">
                <button class="btn btn-warning form-control">Создать новый опрос</button>
            </div>
            <form method="POST" action="" id="from-change-name" style="display: none;">
                {% csrf_token %}
                <div class="form-group mr-2">
                    <div class="input-group">
                        <input type="text" name="username" class="form-control" placeholder="Ваше имя"
                               aria-label="Ваше имя" aria-describedby="button-name-save"
                               value="{% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}"
                        >
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="button-name-save">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group mr-2" id="btn-change-name">
                <button onclick="$('#from-change-name').show(); $('#btn-change-name').hide();" class="btn btn-primary form-control">Изменить ваше имя</button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-4">
        {% if not pools %}
        Нет сохраненных опросов.
        {% else %}
        <ul class="list-group list-group-hover">
            {% for pool in pools %}
            <li class="list-group-item">
                {{ pool.title }}<br>
                <span class="text-small">Опрос создан: {{ pool.date_created }}, Опрошено: 0</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
