{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="form-inline">
            <div class="form-group mr-2">
                <a href="{% url 'pool_edit' %}" class="btn btn-warning form-control">Создать новый опрос</a>
            </div>
            <form method="POST" action="" id="from-change-name" style="display: none;">
                {% csrf_token %}
                <div class="form-group mr-2">
                    <div class="input-group">
                        <input type="text" name="username" class="form-control" placeholder="Ваше имя"
                               aria-label="Ваше имя" aria-describedby="button-name-save"
                               value="{% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}"
                        >
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="button-name-save">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group mr-2" id="btn-change-name">
                <button onclick="$('#from-change-name').show(); $('#btn-change-name').hide();"
                        class="btn btn-primary form-control">Изменить ваше имя
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 mt-4">
        {% if not pools %}
        Нет сохраненных опросов.
        {% else %}
        <ul class="list-group list-group-hover">
            {% for pool in pools %}
            <li class="list-group-item">
                {{ pool.title }}<br>
                <span class="text-small">Опрос создан: {{ pool.date_created }}, Опрошено: 0</span><br><br>
                <div>
                    <a href="#" class="btn btn-primary">Редактировать</a>
                    <a href="#" class="btn btn-warning">Просмотр</a>
                    <a id="btnGroupDrop1" type="button" class="btn btn-success dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Поделиться
                    </a>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#">Facebook</a>
                        <a class="dropdown-item" href="#">VK</a>
                        <a class="dropdown-item" href="#">OK</a>
                        <a class="dropdown-item" href="#">Скопировать ссылку</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
